@import "tailwindcss";
@theme{
  --color-border:hsl(var(--border));
  --color-bg:hsl(var(--background));
  --color-bg:hsl(var(--foreground));

  --color-primary:hsl(var(--primary));
  --color-primary-foreground:hsl(var(--primary-foreground));

  --color-primary: hsl(var(--primary));

}